.wrapper {
    padding: 10px 10px;
}

span {
    cursor: pointer;
}

.selected {
    font-weight: bold;
}

/*
.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}*/
