.nav {
  grid-area: n;
  background-color:skyblue;
  padding: 20px;
  font-size: 22px;
}

.item {

}

.item__friends {
  font-size: 28px;
  margin-top: 50px;
}

.item__settings {
  margin-top: 25px;
}

.item a, .item__settings a, .item__friends a {
  color: #fff;
  text-decoration: none;
}

.item a.active, .item__settings a.active, .item__friends.active {
  color: gold;
}

.item__friendsItem {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  grid-gap: 10px;
}